body{
	margin: 0;
	background-color:#1D1C1f ;
	font-family: 'Sansita Swashed', cursive;
}

header{
	text-align: center;
}

header img{
	border-radius: 150px;
	width: 300px;
	height: 300px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px 20px 100px;
}

header h1{
	 color: white;
	 font-size:50px; 
	 text-align: center;

}

h2{
	color: white;
	text-align: center;
}

 main img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 300px;
	border-radius: 150px

}

main p{ 
	color: white;
	background-color: white;
	background-image: url(https://images.squarespace-cdn.com/content/v1/543c8f9ee4b0a31fe76bc398/1534214227179-25DRRJ7JM4F6XROV0N7K/ke17ZwdGBToddI8pDm48kDFgITcRoterXoQdllT5ciUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcV7ZyRJyI8bwZiMJRrgPaAKqUaXS0tb9q_dTyNVba_kClt3J5x-w6oTQbPni4jzRa/Activists.jpg);
	background-position: center;
	background-repeat: repeat;
	width: 100%;
	text-align: center;
	height: auto;
}

.social{
	background-color: white;
	content: "";
	clear: both;
	display: table;
	
}

.imgsocial{
	float: left;
	padding: 5px;
	width: auto;
	max-height: 20%;
	margin-left: auto;
	margin-right: auto;
}
