body{
	margin: 0;
	background-color:#1D1C1f ;
	font-family: 'Sansita Swashed', cursive;
}

header{
	text-align: center;
}

header img{
	border-radius: 150px;
	width: 300px;
	height: 300px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px 20px 100px;
}

header h1{
	 color: white;
	 font-size:50px; 
	 text-align: center;

}

h2{
	color: white;
	text-align: center;
}

 main img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 300px;
	border-radius: 150px

}

main p{ 
	color: white;
	background-color: black;
	
	background-position: center;
	background-repeat: repeat;
	width: 100%;
	text-align: center;
	height: auto;
}

.activism{
	background-image: url(https://miro.medium.com/max/810/1*DEGsanokGIB2lllqiP2WWw.png);
}

.social{
	background-color: white;
	content: "";
	clear: both;
	display: table;
	
}

.imgsocial{
	float: left;
	padding: 5px;
	width: auto;
	max-height: 20%;
	margin-left: auto;
	margin-right: auto;
}
